@import './styles/variables.css';

/* CSS reset */
*, 
*:before, 
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-dark);
    font-family: "Inter", sans-serif;
    color: var(--text-color);
    height: 100vh;
}

a {
    text-decoration: none;
}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    max-width: 247px;
    margin: 2em auto;    
}

/* Info component */
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info__profile-photo {
    width: 100vw;
    border-radius: 10px 10px 0 0;
}

.info__name, 
.info__headline,
.info__portfolio-link {
    text-align: center;
}

.info__name {
    color: var(--heading-color);
    margin: 0;
    font-size: 1.563rem;
    margin-top: 1em;
}

.info__headline {
    margin-top: 0.25em;
    color: var(--subheading-orange-color);
    font-size: 0.8rem;
    font-weight: 400;
}

.info__contact-wrapper {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1.25em;
}

.info__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    width: 115px;
    height: 34px;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

.info__button:hover {
    transform: translateY(-3px);
}   

.info__email {
    font-size: 0.875rem;
    background-color: var(--email-btn);
    color: #374151;
}

.info__email:hover {
    filter: brightness(120%);
}

.info__linkedin {
    font-size: 0.875rem;
    background-color: var(--linkedin-btn);
    color: var(--heading-color);
}

.info__linkedin:hover {
    filter: brightness(120%);
}

.info__portfolio-link {
    font-size: 0.64rem;
    text-decoration: none;
    color: var(--subheading-white-color);
    margin-top: 1em;
}

.info__portfolio-link:hover {
    color: var(--subheading-orange-color);
}

/* Interests and About component common styling*/
.interests {
    margin-top: 1em;
}

.about__heading, .interests__heading {
    color: var(--subheading-white-color);
    font-size: 1rem;
}

.interests__content, .about__content {
    font-size: 0.64rem;
    margin-top: 0.5em;
}

/* Footer */
.footer {
    padding: 1em 0;
    background-color: var(--bg-footer-dark);
    display: flex;
    gap: 1.3em;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    width: 100%;
    border-radius: 0 0 6px 6px;
}

.footer__social-link {
    padding: 0.25em;
    background-color: var(--bg-social-icon);
    border-radius: 2px;
    transition: 0.5s ease-in-out;
}

.footer__social-link:hover {
    background-color: var(--subheading-orange-color);
}

.footer__social-icon {
    font-size: 1rem;
    color: var(--bg-footer-dark);
}