:root {
    --heading-color: #FFFFFF;
    --email-btn: #FFFFFF;
    --linkedin-btn: #5093E2;
    --subheading-orange-color: #F3BF99;
    --text-color: #DCDCDC;
    --subheading-white-color: #F5F5F5;
    --bg-dark: #1A1B21;
    --body-bg-dark: #24252b;
    
    --bg-footer-dark: #161619;
    --bg-social-icon: #918E9B;
}